name: Flutter Web Build CI

on: 
  push:
    paths: 
      - lib
    branches: 
      - master
jobs: 
  build-release: 
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@main
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.20.x' # you can use 1.12:  
        channel: 'beta' 
    - run: flutter config --enable-web
    - run: flutter pub get
    - name: build
      run: |
        flutter build web --release
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add build/web/*
        git commit -m "Publish Artifact" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
#         directory: build/web
